<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Blog Post
                <small>A Blog Post on The Blessing Ceremony Of ABEBOH</small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <!-- the actual blog post: title/author/date/content -->
            <hr>
            <p><i class="fa fa-clock-o"></i> Posted on September 22, 2016 at 9:00 PM by <a href="#">abeboh</a>
            </p>
            <hr>
            <img src="images/blog/blessing.JPG"  width="100%" height="350">
            <hr>
            <p class="lead">
                 The Blessing Ceremony of ABEBOH took place on Monday 12th September 2016. 
            Rev. Fr. Christophe came in from the University Parish to bless the Building.
            It was an official kick start of ABEBOH<br>
            Glory be to God." <br>
            
                </p>
A SPEECH PRESENTED BY NGES BRIAN ON THE BLESSING CEREMONY OF ABEBOH VENTURES<br><br>

Dear CEOs<br>
Dear Managers,<br>
Dear Developers.<br>
Dear Reverend Father<br>
Dear Friends<br>
Ladies and Gentlemen<br>
All other Protocols dully respected.<br>

It is with great joy that I stand here today to say “WELCOME TO ABEBOH”.
It has been a long waiting dream. It is a dream which is finally coming through.
<br>
ABEBOH is our Company name and it comes from a Kom word ” which literally means “It is God who said it”.
<br>
Our Vision is: Technology Available and Affordable to Everyone.
<br>
Our Motto is “A GOAL IS A DREAM WITH A PLAN AND A DATELINE”.
<br>
At ABEBOH, we belief that, everybody has a goal in life. This goal is always looked upon as a dream and this dream can only be achieved with a proper plan which has a dateline for execution.
<br>
ABEBOH is a technology company (A Startup) which is based on building Software and Hardware products. 
<br>
We plan to work on all types of Software; ranging from Mobile Apps, Web apps, Websites etc and also Hardware such as GPS , Navigators etc. We shall offer other technology related services. With ABEBOH, “THERE IS ALWAYS A WAY”.
<br>
 We won’t have been here today standing in the name of   “ABEBOH” without the efforts of some people. So it is just right to acknowledge them.
<br>
I will first like to acknowledge the Presence of God and say the intension of this Blessing Ceremony is to “Ask God for his Grace and Blessings on ABEBOH . That He should Guide ABEBOH to always stay focused in the right direction  and let the plans of the company  be achieved  through his Mercies and Grace”.
<br>
In addition to the Almighty who has helped us to realise this dream, I will also like to acknowledge and appreciate a few individuals that He has used and is using.<br>
I will like to extend great appreciation to the co-founder of ABEBOH, Dr. Chrysantus Nges AKEM who is based in Ibadan, Nigeria, and unfortunately could not join us here today; for his great work in believing in me, sharing my dreams and believing that we can make it. He has always been there to scrutinize my Ideas, and make them gain shape and Maturity. Thank you Daddy.
<br>
I will like to extend great appreciation to Miss Monjo Perside Rosalie and Miss Courage Angeh for being there and sharing my dreams and ambitions. They are actually the ones who  taught me how to write my first code. They gave me inspiration and have always been there to support me. I think we have come a long way as FRIENDS and from now on, I won’t call you Friends anymore but  “SISTERS”. Thank you, my Sisters!
<br>
I will also like to thank Engineer  Oluge Eya and  Engineer Mpara Faith for giving me the first Industrial Experience at New Generation Technology. I will like to say that you have done a wonderful job in inspiring  ABEBOH. Thank you very much and may God continue to bless NGT.
<br>
I will like to extend my gratitude to Engineer Ayuk Eta and Engineer Awesum Yannick for the advice and source of inspiration they have been giving me. I will like to say, ABEBOH has learned a lot already from you and Skylabase and will continue to learn. Thanks and God continue to bless Skylabase.
<br>
A very special Thanks to EVERYBODY  directly or even indirectly involved with the ABEBOH Ventures, either as a developer, at the management level or at the Advisory Council level and even to those our Ambassadors who are not directly involved for now.  
<br>
ABEBOH is open to everyone from any field willing to execute and share knowledge.
<br>
Finally, I will like to thank all my Family Members, Friends, Classmates and again Everybody that has contributed positively to the initiation  of ABEBOH,  or that is still to contribute to its operations.
<br>
Today, we are here to ask for God’s blessings on ABEBOH so that it can kick-off  with the spirit and directives from  God.  We know that without God, we cannot take a step.
<br>
I will like to plead with each and every one of you present at this Blessing Ceremony to become an Ambassador and   a Pillar of ABEBOH.
<br>
ABEBOH counts on all of you to execute its Vision and achieve its Goal.  .
That  Goal is that in the next 10 years, the whole world should not only talk about the Silicon Mountain, which we dream to be, but  should come to see and experience what is actually happening here.
<br>
I will like to end here with one appeal -  Please pray for the success of ABEBOH. 
<br>
Long live ABEBOH
Long live the Silicon Mountain
Long live Technology 
Love live Cameroon.
<br>
<br><br>

 
            <!-- the comment box -->
            <div class="well">
                <h4>Leave a Comment:</h4>

                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
            </div>

            <hr>

        </div>

        <div class="col-lg-4">
            <div class="well">
                <h4>Blog Search</h4>

                <div class="input-group">
                    <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Related Links to this Post</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="https://www.youtube.com/watch?v=Lwa2DL-5-9w&feature=youtu.be" target="_blank">U-Tube</a>
                            </li>
                            <li><a href="https://www.facebook.com/njunglenges.brian/posts/1082825851813435?comment_id=1087995991296421&notif_t=feed_comment&notif_id=1474492270990189" target ="_blank">Facebook</a>
                            </li>
                            <li><a href="https://plus.google.com/u/0/108128457337391829998" target="_blank">Google +</a>
                            </li>
                            <li><a href="#wild-animals"></a>
                            </li>
                             <li><a href="https://twitter.com/nges_b/status/776439642912493569" target="_blank">Twitter</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                           
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>This Blog Post</h4>

                <p>This Post is Done By Nges Brian and Perside Rosalie</p>
                
            </div>
            <!-- /well -->
        </div>
    </div>

</div>
<!-- /.container -->
